<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024909651036-opggi8s7j0dot6njc8dqtrld4tkbf0c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024909651036-opggi8s7j0dot6njc8dqtrld4tkbf0c7</string>
	<key>API_KEY</key>
	<string>AIzaSyDmfBB3usSBfNU7vLKMeEGwTjR_8c8fhpo</string>
	<key>GCM_SENDER_ID</key>
	<string>1024909651036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dz.SetupProjectCourse.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-racim</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-racim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024909651036:ios:414c92ce993a9132c80a99</string>
</dict>
</plist>